<script src="/templates/hbt.js"></script>
<script src="/javascripts/firebase.js"></script>
<script>
ga('set', 'page', 'homepage');
ga('send', 'pageview');
</script>

{{#if post}}
<div class="alert alert-success">Thank you for contributing to the collage for {{recipient_name}}. We would appreciate you filling out a short survey about your experience: <a href="http://goo.gl/7HPDhv">http://goo.gl/7HPDhv</a></div>

{{/if}}

<p class="regtext direction" id="intromsg">{{intromsg}}</p>
<p class="regtext">Note: please run on Google Chrome.</p>
<p class="regtext" id="shareLink"></p>

<div id="recipient_name" style="display: none;">{{recipient_name}}</div>
<div id="name_collage" style="display: none;">{{name_collage}}</div>

<br/>
<h1 class="wishMSG">{{message}} </h1>


<table> 
<tr id="row1">
{{!-- Code is in template/tileItem.handlebars --}}
</tr>
<tr id="row2">

</tr>

</table>

