<link href="/stylesheets/bootstrap-switch.css" rel="stylesheet">

		<section id="intro" class="bg">
			<div class="row">
				<div class="six columns" id="header">
					<h3>Welcome to</h3>
					<h1>CARD COLLAGE</h1>
					<div class="clear"></div>
				</div>
				<div class="six columns">
					<p class="intro_text">
						Make a fun collage with friends, attach your personal video message, and impress whomever receives it!
					</p>
				</div>
			</div>
			
			<div class="nav">
				<div class="row">
					<div class="twelve columns">
						<a href="#portfolio" class="smoothScroll">Templates</a>
						<a href="#about" class="smoothScroll">Collage</a>
						<a href="#contact" class="smoothScroll">Message</a>
					</div>
				</div>
			</div>
			<div class="nav_bg">
			</div>
		</section>

		<section id="portfolio">
			<div class="row">
				<div class="twelve columns">
					<h1>Please<span class="quote">choose an empty tile and make the shape on it :) </span></h1>
				</div>
			</div>

			<div class="row">		
				<div class="twelve columns">
					<table> 
						<tr id="row1">
						{{!-- Code is in template/tileItem.handlebars --}}
						</tr>
						<tr id="row2">
							{{!-- <td>hi</td> --}}
						</tr>	
					</table>

					<ul class="works">
						<li>
							<a href="yogurt.html">
								<div class="hover">
									<h3>YOGURT</h3>
									<h5 class="tags"><span>UI</span><span>UX</span><span>Data-vis</span><span>Interaction</span></h5>
								</div>
								<img src="images/heart1.jpg"/>
							</a>
						</li>
						<li>
							<a href="mobiata.html">
								<div class="hover">
									<h3>MOBIATA</h3>
									<h5 class="tags"><span>UI</span><span>UX</span><span>Mobile</span></h5>
								</div>
								<img src="images/heart2.jpg"/>
							</a>
						</li>
						<li>
							<a href="echorus.html">
								<div class="hover">
									<h3>ECHORUS</h3>
									<h5 class="tags"><span>Ideation</span><span>UI</span><span>UX</span><span>Strategy</span></h5>
								</div>
								<img src="images/heart3.jpg"/>
							</a>
						</li>
						<li>
							<a href="derive.html">
								<div class="hover">
									<h3>DÉRIVE</h3>
									<h5 class="tags"><span>Interaction</span><span>Web</span><span>Gesture UI</span></h5>
								</div>
								<img src="images/heart4.jpg"/>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</section>

		<section id="album_wall" class="bg">
			<div class="row">
				<div class="twelve columns center">
					<h1>Record a personal video message: </h1>
				</div>
			</div>
		</section>

		<section id="about">
			<div class="row">
				<div id="container">
					<div class="direction" id="simplecammsg">Please take a photo to match the pattern on the left. <span class="msg" id="status">Allow your browser to use your video camera.</span></div>

					<div class="border" id="videowrapper">
						<video id="video"></video>
						<img src="images/Heart1.jpg" width=320 id="overlay">
					</div>
					<button class="button" id="startbutton">Take photo</button>
					<button class="button" id="donebutton">Done!</button>
					<a href="/?collage_id={{fb_collage_id}}"><button class="button" id="cancelbutton">Cancel</button></a>
					<canvas id="canvas"></canvas>
					<div class="border" id="photowrapper"><img src="images/Heart1.jpg" class="" id="photo" alt="photo"></div>
					<p id="countdown"></p>
				</div>

				<div id="fb_collage_id" style="display: none;">{{fb_collage_id}}</div>
				<div id="fb_tile_id" style="display: none;">{{fb_tile_id}}</div>
				<div id="fb_filled" style="display: none;">{{filled}}</div>
			</div>
		</section>

		<section id="hire" class="bg">
			<div class="row">
				<div class="six columns offset-by-six">
					<h1>Now please also record a personal message!</h1>
				</div>
			</div>
		</section>	

		<section id="vmsg">
			<div class="row">
				<div class="direction">Don't forget to leave a personal video and/or text message :) <span class="msg" id="status"></span></div>
				<div class="centered" ><input type="checkbox" name="my-checkbox" checked></div>

				<div>
				<form name="input" id="submission" action="/postVideo" method="post">
					<input type="hidden" name="fb_collage_id" value="{{fb_collage_id}}">
					<input type="hidden" name="fb_tile_id" value="{{fb_tile_id}}">
					<input type="hidden" id="video_form" name="video" value="">
					<input type="hidden" id="audio_form" name="audio" value="">
					<button type="submit" class="button" id="finish">Finish!</button>
				</form>
				</div>
				<div class="wrapper_helper">
					<div class="cropper not-recording" id="record_container" ><div id="webcam_stream"></div></div>
					<div class="cropper not-recording" id="play_container" ><div id="video_container"></div></div>
					<div id="audio_link"></div>
					<div class="cropper not-recording" id="stat_container" ><div id="video_link"></div></div>
					<div id="start_recording"><img src="/images/record.jpg" id="btn_record"/><span id="videocountdown"></span></div>
					<div id="stop_recording"><img src="/images/stop.jpg" id="btn_record2"/></div>
					<div id="replay_recording"><img src="/images/replay2.png" id="btn_record3"/></div>
				</div>
				<div id="fb_collage_id" style="display: none;">{{fb_collage_id}}</div>
				<div id="fb_tile_id" style="display: none;">{{fb_tile_id}}</div>
			</div>
		</section>

		<footer>
		</footer>



    <script src="/javascripts/bootstrap-switch.js"></script>
    <script src="/javascripts/simplecam.js"></script>
    <script src='/javascripts/personal_message.js'></script>
