<script src="/templates/hbt.js"></script>
<script src="/javascripts/firebase.js"></script>
<p class="regtext" id="intromsg">John's birthday is coming up in a week. Choose a tile and upload a personal birthday wish for him!<p>
{{!-- <p>Choose a tile and upload a photo!</p> --}}
<p class="regtext" id="shareLink"></p>



{{!-- <script id="tile-template" type="text/x-handlebars-template">
  <div class="tile_list">
    {{#each tile_list}}
      {{> tileItem}}
    {{/each}}
  </div>
</script> --}}
 
<table> 
<tr id="row1">
{{!-- <script id="tile-partial" type="text/x-handlebars-template">
  <td>
      <div class="wrapper tile" id="{{fb_tile_id}}">
        <a href="/simplecam?fb_collage_id={{fb_collage_id}}&fb_tile_id={{fb_tile_id}}">
          {{#if filled}}
            <img src="{{photo}}" class="flip">
          {{else}}
            <img src="{{photo}}" class="overlay">
          {{/if}}
        </a>
      </div>
  </td>
</script> --}}
</tr>
<tr id="row2">

</tr>

</table>
