{{!-- <!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/javascripts/firebase.js"></script>

  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
  </body>
</html> --}}

    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
    <pre>?</pre>