<link href="/stylesheets/bootstrap-switch.css" rel="stylesheet">

		<section id="intro" class="bg relative">
			<div class="row">
				<div class="six columns" id="header">
					<h3>Welcome to</h3>
					<h1>COLLAGE</h1>
					<h1>WITH</h1>
					<h1>FRIENDS</h1>
					<p class="intro_text" id="intro-txt">
						Make a fun collage with friends, attach your personal video message, and impress whomever receives it!
					</p>					
				<div class="clear"></div>
				</div>
				<div class="six columns">

				</div>
			</div>
			<a href="#" class="next-btn">Start contributing!</a>

			<div class="nav">
				<div class="row">
					<div class="twelve columns">
						<a href="#portfolio" class="smoothScroll"></a>
						{{!-- <a href="#about" class="smoothScroll">Collage</a>
						<a href="#contact" class="smoothScroll">Message</a> --}}
					</div>
				</div>
			</div>
			<div class="nav_bg">
			</div>
		</section>

		<section class="portfolio">
			<div data-alert class="fixed-div alert-box alert radius" id="webcam_alert">
			  You need to enable your webcam.
			  <a href="#" class="close">&times;</a>
			</div>
			<div data-alert class="fixed-div alert-box info radius hide_stuff" id="mic_alert">
			  Also enable your microphone :)
			  <a href="#" class="close">&times;</a>
			</div>


	{{!-- <a data-reveal-id="tile-delete-warning-msg">Button</a>  --}}
    {{!-- Tile warning message, for deleting --}}
    <div class="reveal-modal xlarge" id="tile-delete-warning-msg" data-reveal="">
      <h2>Are you sure you want to delete your work on this tile?</h2>
      {{!--  <div class="button close-reveal-modal" href="#" style="margin-top: 10px">Cancel</div> --}}
       <a class="alert button close trash-confirm-btn" href="#" style="float: right; margin-top: 50px">Delete</a>
       <a class="close-reveal-modal">×</a>
    </div>

			<div class="row" style="margin-top: 25px;">
				<div class="twelve columns" id="direction">
					<h2 style="color: purple">{{direction}}</h2>
				</div>
			</div>
			<a name="task1"></a>
			{{#if admin}}
				<p class="hide_stuff" id="isAdmin">{{admin}}</p>
			{{/if}}
			<div class="row">
				<div class="twelve columns">
					<h1 id="finish_msg" class="hide_stuff">Congrats! <span class="quote">You have finished a tile{{#if recipient_name}} for {{recipient_name}}&#39;s collage{{/if}}. Hover over your tile to preview. <br/>Like Collage With Friends? You can start your own at <a href="collagewithfriends.herokuapp.com">collagewithfriends.herokuapp.com</a></span></h1>
					<h1 id="task1_msg1">Task 1: Click<span class="quote" id="task1a"> on an empty tile to contribute to the collage {{#if recipient_name}}for {{recipient_name}} {{/if}}</span></h1>

					<h1 id="task1_msg2" class="hide_stuff">Task 1: Take a picture
						{{#if faces}}
							<span class="quote" id="task1b"> with a funny face. </span>
						{{else}} 
							{{#if choice}}
								<span class="quote" id="task1b"> to follow the instructions given above. </span>
							{{else}}
								<span class="quote" id="task1b"> that matches the outlined shape. </span>	
							{{/if}}
						{{/if}}
						
					</h1>
				</div>
			</div>
			{{!-- <div class="your-clock"></div> --}}
			<div class="row">		
				<div class="twelve columns">

					<p id="countdown"></p>

					<div id="outerbuttongrp">
						<div class="hide_stuff" id="picstartbutton" >
							<div class="" ><input id="timer-checkbox" type="checkbox" name="my-checkbox" checked></div>
							<img id="camera_icon" src='images/camera.jpg'/>
						</div>
					</div>
					<div id="collage_loading_msg"><h1 style="color: red; text-align: center;">Loading...</h1></div>
					<table class="centering"> 
						<tr id="row1">
						{{!-- Code is in template/tileItem.handlebars --}}
						</tr>
						<tr id="row2">
							{{!-- <td>hi</td> --}}
						</tr>	
					</table>

					<canvas id="canvas"></canvas>

				<ul class="pager">
				  <li class="previous hide_stuff" id="piccancelbutton"><a>Back</a></li>
				  <li class="next disabled" id="picdonebutton"><a>Next</a></li>
				</ul>
				
				<a name="task1_bottom"></a>
					
{{!-- 
					<ul class="works">
						<li>
							<a href="yogurt.html">
								<div class="hover">
									<h3>YOGURT</h3>
									<h5 class="tags"><span>UI</span><span>UX</span><span>Data-vis</span><span>Interaction</span></h5>
								</div>
								<img src="images/heart1.jpg"/>
							</a>
						</li>
						<li>
							<a href="mobiata.html">
								<div class="hover">
									<h3>MOBIATA</h3>
									<h5 class="tags"><span>UI</span><span>UX</span><span>Mobile</span></h5>
								</div>
								<img src="images/heart2.jpg"/>
							</a>
						</li>
						<li>
							<a href="echorus.html">
								<div class="hover">
									<h3>ECHORUS</h3>
									<h5 class="tags"><span>Ideation</span><span>UI</span><span>UX</span><span>Strategy</span></h5>
								</div>
								<img src="images/heart3.jpg"/>
							</a>
						</li>
						<li>
							<a href="derive.html">
								<div class="hover">
									<h3>DÉRIVE</h3>
									<h5 class="tags"><span>Interaction</span><span>Web</span><span>Gesture UI</span></h5>
								</div>
								<img src="images/heart4.jpg"/>
							</a>
						</li>
					</ul> --}}
				</div>
			</div>
		</section>

		


{{!-- 		<section id="hire" class="bg">
			<div class="row">
				<div class="six columns offset-by-six">
					<h1>Now please also record a personal message!</h1>
				</div>
			</div>
		</section>	 --}}

		<section id="vmsg" class="portfolio hide_stuff">
			<a name="vmsg"></a>
			<div class="row">
				<div class="twelve columns">
					<h1 id="task2_msg">Task 2: Great! <span class="quote">Now leave a personal video message{{#if recipient_name}} for {{recipient_name}} {{/if}}</span></h1>
				</div>
			</div>
			<div class="row">
				{{!-- <div class="direction">Don't forget to leave a personal video and/or text message :) <span class="msg" id="status"></span></div> --}}
				

				<div class="wrapper_helper">
					<div class="cropper not-recording" id="record_container" ><div id="webcam_stream"></div></div>
					<div class="cropper not-recording" id="play_container" ><div id="video_container"></div></div>
					<div id="audio_link"></div>
					<div class="cropper not-recording" id="stat_container" ><div id="video_link"></div></div>
					<div id="start_recording"><img src="/images/record.jpg" id="btn_record"/><span id="videocountdown"></span></div>
					<div id="stop_recording"><img src="/images/stop.jpg" id="btn_record2"/></div>
					<div id="replay_recording"><img src="/images/replay2.png" id="btn_record3"/></div>
				</div>
				<p class="hide_stuff" id="finish_waiting" style="color: red; float: right;">Saving ... </p>
				<div>
					<ul class="pager">
					  <li class="previous" id="vidcancelbutton"><a>Back</a></li>
					  <li class="next disabled" id="finish"><a>Finish</a></li>
					</ul>
				</div>

				<div id="fb_collage_id" style="display: none;">{{fb_collage_id}}</div>
				<div id="fb_tile_id" style="display: none;">{{fb_tile_id}}</div>
			</div>
		</section>

		<footer>
		</footer>

    <script src="/javascripts/bootstrap-switch.js"></script>
    <script src="/javascripts/flipclock.min.js"></script>
    {{!-- Our own javascripts --}}

    <script src='/javascripts/personal_message.js'></script>
    <script src='/javascripts/readyVideoAndAudio.js'></script>
    <script src="/javascripts/simplecam.js"></script>
    <script src="/javascripts/camOnTemplate.js"></script>
    <script src="/javascripts/firebase.js"></script>

    <script type="text/javascript">
		var clock = $('.your-clock').FlipClock(10, {
			countdown: true,
			autoStart: false,
			clockFace: 'MinuteCounter'
		});
		$(".minutes").addClass('hide_stuff');
		$(".seconds").addClass('hide_stuff');
		$(".minutes").next().addClass('hide_stuff');
		$(".minutes").next().next().addClass('hide_stuff');
		console.log('increment');
		$("#picdonebutton").click(function(e) {
			e.preventDefault();
			clock.start(function() {
			// this (optional) callback will fire each time the clock flips
			});
		});
		
		
	</script>

{{!-- 
		<section id="about">
			<div class="row">
				<div id="container">
					<div class="direction" id="simplecammsg">Please take a photo to match the pattern on the left. <span class="msg" id="status">Allow your browser to use your video camera.</span></div>

					<div class="border" id="videowrapper">
						<video id="video"></video>
						<img src="images/Heart1.jpg" width=320 id="overlay">
					</div>
					<button class="button" id="startbutton">Take photo</button>
					<button class="button" id="donebutton">Done!</button>
					<a href="/?collage_id={{fb_collage_id}}"><button class="button" id="cancelbutton">Cancel</button></a>
					<canvas id="canvas"></canvas>
					<div class="border" id="photowrapper"><img src="images/Heart1.jpg" class="" id="photo" alt="photo"></div>
					<p id="countdown"></p>
				</div>

				<div id="fb_collage_id" style="display: none;">{{fb_collage_id}}</div>
				<div id="fb_tile_id" style="display: none;">{{fb_tile_id}}</div>
				<div id="fb_filled" style="display: none;">{{filled}}</div>
			</div>
		</section>
 --}}


 {{!-- 				<form name="input" id="submission" action="/postVideo" method="post">
					<input type="hidden" name="fb_collage_id" value="{{fb_collage_id}}">
					<input type="hidden" name="fb_tile_id" value="{{fb_tile_id}}">
					<input type="hidden" id="video_form" name="video" value="">
					<input type="hidden" id="audio_form" name="audio" value="">
					<button type="submit" class="button" id="finish">Finish!</button>
				</form> --}}
