{{!-- Source: https://github.com/codepo8/interaction-cam/ --}}

<div id="container">
	<div class="direction" id="simplecammsg">Please take a photo to match the pattern on the left. <span class="msg" id="status">Allow your browser to use your video camera.</span></div>

	<div class="border" id="videowrapper">
		<video id="video"></video>
		<img src="{{default_photo}}" width=320 id="overlay">
	</div>
	<button class="button" id="startbutton">Take photo</button>
	<button class="button" id="donebutton">Done!</button>
	<a href="/?collage_id={{fb_collage_id}}"><button class="button" id="cancelbutton">Cancel</button></a>
	<canvas id="canvas"></canvas>
	{{#if filled}}
	<div class="border" id="photowrapper"><img src="{{photo}}" class="flip" id="photo" alt="photo"></div>
	{{else}}
	<div class="border" id="photowrapper"><img src="{{photo}}" class="" id="photo" alt="photo"></div>
	{{/if}}
	<p id="countdown"></p>
</div>

<div id="fb_collage_id" style="display: none;">{{fb_collage_id}}</div>
<div id="fb_tile_id" style="display: none;">{{fb_tile_id}}</div>
<div id="fb_filled" style="display: none;">{{filled}}</div>
<script src="/javascripts/simplecam.js"></script>
