  <td>
    {{#if filled}}
      <div class="wrapper tile" style="display:none" id="{{fb_tile_id}}">
              <img src="{{photo}}" class="flip">            
      </div>
      <div class="wrapper tile" id="{{fb_tile_id}}">
              <audio id="audio{{fb_tile_id}}" src="{{audio}}"></audio>
              <video id="replay{{fb_tile_id}}" src="{{video}}"></video>
      </div>

    {{else}}
      <div class="wrapper tile" id="{{fb_tile_id}}">
        <a href="/simplecam?fb_collage_id={{fb_collage_id}}&fb_tile_id={{fb_tile_id}}">          
            <img src="{{photo}}" class="overlay">
        </a>
      </div>
    {{/if}}
  </td>