
  <td class="template_art relative">

    {{#if filled}}
    <div class="edit-tile">
      <img class="edit" src="/images/edit_icon.png"/>
      <img class="trash" src="/images/trash_icon.png"/>  
    </div>    
    <div class="flip-container wrapper tile" id="wrapper{{fb_tile_id}}" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          {{!-- <a href="/simplecam?fb_collage_id={{fb_collage_id}}&fb_tile_id={{fb_tile_id}}"> --}}
            <div class="front crop" id="front">
              <div class="wrapper tile relative" id="photo{{fb_tile_id}}">
                    <img id="img_{{fb_tile_id}}" src="{{photo}}" class="flipping stretch">            
                </div>
            </div>
            <div class="back">
              
                <div class="wrapper tile crop" id="{{fb_tile_id}}">
                  {{#if is_public}}
                    <audio id="audio{{fb_tile_id}}" src="{{audio}}"></audio>
                    <video class="videoMSG flipping" id="replay{{fb_tile_id}}" src="{{video}}"></video>
                  {{else}}
                    <img id="lock_{{fb_tile_id}}" src="/images/lock_icon.png">
                  {{/if}}    
                </div>  
              
                {{!-- <p class="textMSG">{{text}}</p> --}}
            </div>
          {{!-- </a> --}}
        </div>
      </div>

    {{else}}
      <div class="wrapper tile" id="{{fb_tile_id}}"> 
            <img id="img_{{fb_tile_id}}" src="{{photo}}" class="overlay">
      </div>
    {{/if}}
  </td>